h1{
    text-align: center;
}

textarea{
    border: 1px solid black;
    border-radius: 4px;
    width: 1150px;
    margin-left: 20%;
    height: 300px;
    margin-top: 40px;
}

.szamlalo{
    color: red;
    font-size: 20px
}

.counter{
    margin-left: 20%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}